#content {
        max-width: 1600px;
        margin: 0 auto;
}
#hero-msg h1 {
    text-align:center;
}
#hero-msg h4 {
    text-align:center;
}
.button-box {
    text-align:center;
}
nav a {
    text-align:center;
}
main section {
    text-align:center;
}