#content {
        max-width: 1600px;
        margin: 0 auto;
}
#hero-msg h1 {
    text-align:center;
}
#hero-msg h4 {
    text-align:center;
}
.button-box {
    text-align:center;
}
nav a {
    text-align:center;
}
main section {
    text-align:center;
}
#background {
    height: 725px;
    background-color: #ffffff;
}
body {
    background-color: #62b6cb;
}
header {
    background-color: #cae9ff;
}
nav a:hover {
    background-color: #cae9ff;
}
.book, .join {
    background-color: #cae9ff;
}
.book:hover, join:hover {
    background-color: #5fa8d3;
}
.msg {
    background-color: #62b6cb;
}
footer { 
    background-color: #ffffff;
}
