body {
    text-align: center;
}
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
#active{
    background-color: white;
    color: steelblue;
}
nav {
    background-color: steelblue;
    padding:10px;
}
a {
    color: white;
    margin:40px;
}
p { 
    padding:10x;
    width: 80%;
}
footer {
    background-color: steelblue;
    color: white;
}
img {
    width: 80%;
}