h1 {
    text-align: center;
}
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 80%;
    margin: 0 auto;
}
#active{
    background-color: white;
    color: steelblue;
}
nav {
    background-color: steelblue;
    padding:10px;
    text-align: center;
}
a {
    color: white;
    margin:40px;
    font-size: 1.5em;
}
p { 
    padding:10x;
    width: 80%;
}
footer {
    background-color: steelblue;
    color: white;
    text-align: center;
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
* {
    border:  2px solid blue;
}