h1 {
    text-align: center;
    font-size: 2.0em;
}
p1 {
    text-align:center;
    font-size: .5em; 
}
p2, p3, p4, p5, p6 {
    text-align: center;
    font-size: 1em;
}
img {
    width:30%;
    display: block;
    margin: 0 auto;
}
p {
    text-align:center;
    font-size: 2.0em;
}
footer {
    text-align:center;
    font-size: 0.5em;;
}